@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

:root{
    --yellow:#becec1;
    /* --text_color: #e85a4f; */
    --text_color: #000000;
    /* --skills-bar-color: #60725c; e98074*/
    --skills-bar-color: #8e8d8a;
}

*{
    font-family: 'Arimo', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: none;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background:#222;
}
html::-webkit-scrollbar-thumb{
    background:var(--skills-bar-color);
}

body{
    /* background:#e4e4e4; */
    background:#eae7dc;
    overflow-x: hidden;
    /* padding: 35rem; */
}

.home .buttons-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;

}

.btn{
    padding: .7rem 3rem;
    /* background: #333; */
    background: #8e8d8a;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5rem;
    /* display:none; */

}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
    background: rgb(217, 217, 217);

}

/* ////////////////////////////////////////////// */



/* HEADER */
/* ///////////////////////////////////////////////////// */
header{
    position: top;
    top: 0; left: 0;
    z-index: 1000;
    height:100%;
    width: 100vw;
    /* background:#d8c3a5; */
    background: #8e8d8a;
    /* c7c7c7 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 3.5rem 3rem;;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    /* border:.7rem solid var(--skills-bar-color); */
    /* border:.7rem solid #8e8d8a; */
}

header .user .name{
    font-size: 3.5rem;
    /* color: var(--text_color) */
    color: black;

}
header .user .fields{
  font-size: 1.75rem;
  /* color: var(--text_color) */
  color: black;
}
header .user .post{
    font-size: 2.25rem;
    /* color: var(--text_color); */
    color: black;
}

.resume-link{
  font-size: 15px;
  color: white;
  text-decoration: underline;
}
/* ////////////////////////////////////////////// */


/* HOME SECTION  */
/* ////////////////////////////////////////////// */
.home{
    justify-content: top;
    flex-flow: column;
    padding: 0 15vw;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.home h3{
    font-size: 2.5rem;
    color: var(--text_color);
}

.home p{
    font-size: 1.5rem;
    color: var(--text_color);
}

.toggle-section{
    display:none;
}

/* ////////////////////////////////////////////// */




/* PROJECT  */
/* ////////////////////////////////////////////// */
#projects{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    padding-top: 3rem; 
}

#projects h1{
    font-size: 3.5rem;
    color: var(--text_color);
    text-align: center;
}
#projects p{
    font-size: 2rem;
    color: var(--text_color);
}
#projects ul{
  font-size: 1.5rem;
  color: var(--text_color);
  padding-left: 5rem;
}

#projects .buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* Create the circular button */
#projects .circular-button {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #777;
    overflow: hidden;
    margin: 10px;
    gap: 15rem;
    display: flex;
}

/* Add the circular image */
#projects .circular-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 5rem;
  grid-gap: 1rem;
}

.project-box {
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-image {
  width: 25%;
  /* height: 25% */
  /* max-height: 200px; */
  object-fit: cover;
}

.project-description {
  font-size: 1rem;
}


/* ////////////////////// */




/* SKILLS  */
/* ///////////////////////////// */

#skills{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    padding-top: 3rem;   
}

#skills h1{
    font-size: 1.5rem;
  color: var(--text_color);
    text-align: center;
}
#skills p{
    font-size: 2rem;
    color: var(--text_color)
}

.skills {
  /* width: 80%;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 8vw;
  margin: 0 auto;
}


.skill-name {
  margin-bottom: 0.5rem;
  color: var(--text_color);
  font-size: 1.5rem;
  /* align */
}
/* ///////////////////////////// */




/* CAREER  */
/* ///////////////////////////// */

#career{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 8vw;
    margin: 0 auto;
}

#career h1{
    font-size: 3rem;
    color: var(--text_color);
    text-align: center;
}

#career h2{
  font-size: 2rem;
  color: var(--text_color);
  text-align: center;
}

#career h3{
  font-size: 1.5rem;
  color: var(--text_color);
  text-align: center;
}

#career p{
    font-size: 1.5rem;
    color: var(--text_color);
    /* text-align: center; */
    /* padding: 0 10vw; */
    /* align-content: center; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#career .coursework{
  font-size: 1.5rem;
  color: var(--text_color);
  text-align: center;
  /* padding: 0 10rem; */
}

#career .desc {
  font-size: 1.5rem;
  color: var(--text_color);
  /* text-align: center; */
  /* padding: 0 10vw; */
}

#career ul{
  font-size: 1.5rem;
  color: var(--text_color);
  /* padding: 0 15vw; */
  text-align: center;
  list-style-position: inside;
}

  
hr{
  border: 1px solid var(--text_color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  