@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

:root{
    --yellow:#becec1;
    --text_color: #000000;
    --skills-bar-color: #60725c;
}

*{
    font-family: 'Arimo', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: none;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background:#222;
}
html::-webkit-scrollbar-thumb{
    background:var(--skills-bar-color);
}

body{
    background:#e4e4e4;
    overflow-x: hidden;
    /* padding: 35rem; */
}

.home .buttons-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;

}

.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5rem;
    /* display:none; */

}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

header{
    position: top;
    top: 0; left: 0;
    z-index: 1000;
    height:100%;
    width: 100vw;
    background:#c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 3.5rem 3rem;;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--skills-bar-color);
}

header .user .name{
    font-size: 3.5rem;
    color: var(--text_color)
}
header .user .fields{
  font-size: 1.75rem;
  color: var(--text_color)
}
header .user .post{
    font-size: 2.25rem;
    color: var(--text_color);
}

.home{
    justify-content: top;
    flex-flow: column;
    padding: 0 15rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
}

.home h3{
    font-size: 2.5rem;
    color: var(--text_color);
}

.home p{
    font-size: 1.5rem;
    color: var(--text_color);
}

.toggle-section{
    display:none;
}


#projects{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    padding-top: 3rem; 
}

#projects h1{
    font-size: 3.5rem;
    color: var(--text_color);
    text-align: center;
}
#projects p{
    font-size: 2rem;
    color: var(--text_color);
}
#projects ul{
  font-size: 1.5rem;
  color: var(--text_color);
  padding-left: 5rem;
}

#projects .buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* Create the circular button */
#projects .circular-button {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #777;
    overflow: hidden;
    margin: 10px;
    gap: 15rem;
    display: flex;
}

/* Add the circular image */
#projects .circular-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#skills{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    padding-top: 3rem;   
}

#skills h1{
    font-size: 1.5rem;
  color: var(--text_color);
    text-align: center;
}
#skills p{
    font-size: 2rem;
    color: var(--text_color)
}


#career{
    display: flew;
    justify-content: center;
    flex-flow: column;
    padding: 0 8vw;
    margin: 0 auto;
}

#career h1{
    font-size: 3rem;
    color: var(--text_color);
    text-align: center;
}

#career h2{
  font-size: 2rem;
  color: var(--text_color);
  text-align: center;
}

#career h3{
  font-size: 1.5rem;
  color: var(--text_color);
  text-align: center;
}

#career p{
    font-size: 1.5rem;
    color: var(--text_color);
    /* text-align: center; */
    padding: 0 15vw;
}

#career .coursework{
  font-size: 1.5rem;
  color: var(--text_color);
  text-align: center;
  /* padding: 0 10rem; */
}

#career .desc {
  font-size: 1.5rem;
  color: var(--text_color);
  /* text-align: center; */
  padding: 0 15vw;
}

#career ul{
  font-size: 1.5rem;
  color: var(--text_color);
  padding: 0 15vw;
}

.skills {
    width: 80%;
    margin: 0 auto;
  }
  
  .skill-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skill-list li {
    margin-bottom: 1rem;
  }
  
  .skill-name {
    margin-bottom: 0.5rem;
    color: var(--text_color);
    font-size: 1.5rem;
  }
  
  .skill-bar {
    height: 20px;
    background-color: #ddd;
    position: relative;
  }
  .skill-percentage {
    /* margin-block-end: 1rem; */
    position: absolute;

    transform: translateY(-100%);
    z-index: 1;
    padding: 0 1rem;
    color: white;
    font-size: 1.5rem;
  }
  .skill-level {
    height: 100%;
    background-color: var(--skills-bar-color);
    position: relative;
    top: 0;
    left: 0;
  }
  .skill-level-100 {
    width: 100%;
  }
  .skill-level-90 {
    width: 90%;
  }
  .skill-level-85 {
    width: 85%;
  } 
  .skill-level-80 {
    width: 80%;
  }

  .skill-level-75 {
    width: 75%;
  }
  
  .skill-level-70 {
    width: 70%;
  }
  .skill-level-65 {
    width: 65%;
  }
  .skill-level-60 {
    width: 60%;
  }
  .skill-level-50 {
    width: 50%;
  }
  .skill-level-40 {
    width: 40%;
  }
  
  hr{
    border: 1px solid var(--text_color);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  